@model WebLeague.Models.Season

@{
    ViewData["Title"] = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <h5 class="display-3">Standings for League @ViewData["leagueName"] in Season @Model.Name</h5>
        <div class="row">
            <table class="col-md-12 table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Played</th>
                        <th>Wins</th>
                        <th>Draws</th>
                        <th>Losses</th>
                        <th>GoalsFor</th>
                        <th>GoalsAgainst</th>
                        <th>GoalDiff</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var standing in (@ViewBag.Standings as List<WebLeague.Services.Data.StandingsTeam>))
                    {
                        <tr>
                            <td>@standing.Name</td>
                            <td>@standing.Played</td>
                            <td>@standing.Wins</td>
                            <td>@standing.Draws</td>
                            <td>@standing.Losses</td>
                            <td>@standing.GoalsFor</td>
                            <td>@standing.GoalsAgainst</td>
                            <td>@(standing.GoalsFor - standing.GoalsAgainst)</td>
                            <td>@standing.Points</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <form asp-action="EditStandings">
        <input type="hidden" asp-for="Id" />
        @Html.Hidden("LeagueId")
    <div class="row">
        @for (var i = 0; i < Model.Matchdays.Count; i++)
        {
            @Html.HiddenFor(model => model.Matchdays[i].Id)
            @Html.HiddenFor(model => model.Matchdays[i].Number)
            <div class="col-md-4">
                <h2>Matchday @Model.Matchdays[i].Number</h2>
                <table class="align-content-center">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Matchdays[0].Matches[0].HomeTeam)</th>
                            <th>@Html.DisplayNameFor(model => model.Matchdays[0].Matches[0].HomeScore)</th>
                            <th>@Html.DisplayNameFor(model => model.Matchdays[0].Matches[0].AwayTeam)</th>
                            <th>@Html.DisplayNameFor(model => model.Matchdays[0].Matches[0].AwayScore)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var j = 0; j < Model.Matchdays[i].Matches.Count; j++)
                        {
                            @Html.HiddenFor(model => model.Matchdays[i].Matches[j].Id)
                            <tr>
                                <td>@Html.DisplayFor(modelItem => Model.Matchdays[i].Matches[j].HomeTeam.Name)</td>
                                <td>@Html.TextBoxFor(modelItem => Model.Matchdays[i].Matches[j].HomeScore, new { min = 0, max = 99, type = "number", style = "width: 65px;" })</td>
                                <td>@Html.DisplayFor(modelItem => Model.Matchdays[i].Matches[j].AwayTeam.Name)</td>
                                <td>@Html.TextBoxFor(modelItem => Model.Matchdays[i].Matches[j].AwayScore, new { min = 0, max = 99, type = "number", style = "width: 65px;" })</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
        <hr>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div class="container">
        <a asp-action="Index" asp-route-leagueId="@ViewData["LeagueId"]">Back to List</a>
    </div>
</div> <!-- /container -->



